{% extends 'base.html' %}
{% load i18n %}
{% load task_filters %}
{% block title %}{% trans "Route Details" %}{% endblock %}

{% block page_header %}
  {% include 'horizon/common/_detail_header.html' %}
{% endblock %}

{% block main %}
  <div class="detail">
    <dl class="dl-horizontal">
      <dt>{% trans "ID" %}</dt>
      <dd>{{ route.uuid }}</dd>
      <dt>{% trans "Listener" %}</dt>
      <dd><a href="{% url 'horizon:project:listeners:detail' route.listener %}">{{ route.listener }}</a></dd>
      <dt>{% trans "External IP" %}</dt>
      <dd>{{ route.external_ip }}</dd>
      <dt>{% trans "Port" %}</dt>
      <dd>{{ route.port }}</dd>
      <dt>{% trans "Type" %}</dt>
      <dd>{{ route.type }}</dd>
      <dt>{% trans "Domain Names" %}</dt>
      <dd>{{ route.domain_names }}</dd>
      <dt>{% trans "Target Servers" %}</dt>
      <dd>{{ route.target_servers }}</dd>
      <dt>{% trans "Creator" %}</dt>
      <dd>{{ route.keystone_user }}</dd>
      <dt>{% trans "Project ID" %}</dt>
      <dd>{{ route.project_id }}</dd>
  </div>
{% endblock %}
